.About {
    width: 90%;
    margin: 0 auto;
}

.About .lists {
    text-align: left;
    display: flex;
    justify-content: space-around;
}

.About-contact {
    text-align: left;
    padding: 20px;
}

@media (min-width: 650px) {
    .About p, .About-contact p {
      text-align: center;
    }
  }