.navbar-container {
    background-color: #93a1a1;
    color: #586e75;
}

.contain-width {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    display: flex;
    align-items: center;
    width: 90%;
    height: 80px;
    font-size: 20px;
}

.navbar > a {
    padding: 20px;
    color: #586e75;
    text-decoration: none;
}

/* .navbar > a:hover, .navbar > a:focus {
    text-decoration: underline;
} */

.navbar .hover, .navbar .focus, .navbar .underline {
    text-decoration: underline;
}

@media (min-width: 801px) {
    .navbar:first-child {
        padding-left: 65px;
    }
}