.navbar {
    display: flex;
    justify-content: center;
    margin-right: 6.5%;
    margin-top: 20px;
}

.tab {
    padding: 20px;
}

.tab:last-child {
    padding-right: 0px;
}

.tabWithHover {
    padding: 20px;
    text-decoration: underline;
}

.tabWithHover:last-child {
    padding-right: 0px
}

@media (min-width: 801px) {
    .navbar {
        justify-content: flex-end;
    }
}