body {
  background-color: #fdf6e3;
  color: #657b83;
  font-size: 16px;
}

.heading {
  text-align: center;
}

.App {
  width: 100%;
}

.contain-width {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}